html,
body {
	min-height: 100%;
}

body,
h1,
h2,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

body {
	background: #EEE;
	font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-tap-highlight-color: transparent;
	font-weight: 100;
}

input {
	outline: none;
	border: none;
	background: #FFF;
	font-weight: 100;
}

.title {
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 30px;
	color: rgba(0, 160, 20, .2);
}

.editWarp {
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.inputWarp {
	display: flex;
}

.inputWarp input {
	-webkit-appearance: none;
	border-radius: 0;
	width: 100%;
	height: 60px;
	padding: 0 10px;
	font-size: 20px;
	box-sizing: border-box;
	font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
	display: block;
	flex: 1;
}

.inputWarp button {
	outline: none;
	border: none;
	width: 60px;
	height: 60px;
	color: #FFF;
	background: rgba(0, 160, 20, .5);
	font-weight: 100;
}

.list {
	width: 100%;
}

.item {
	padding: 10px;
	display: flex;
	border-top: .5px solid #CCC;
	background: #FFF;
}

.chekbox {
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #CCC;
	border-radius: 50%;
	cursor: pointer;
}

.checked {
	position: relative;
	border: 1px solid rgba(0, 160, 20, .5);
}

.checked:after {
	position: absolute;
	content: ' ';
	width: 10px;
	height: 10px;
	background: rgba(0, 160, 20, .5);
	left: 5px;
	top: 5px;
	border-radius: 50%;
}

.tomess {
	flex: 1;
	padding: 0 10px;
}

.remove {
	color: #CCC;
	text-decoration: line-through;
}

.close {
	font-size: 20px;
	color: rgba(160, 0, 20, .5);
	cursor: pointer;
}

[v-cloak] {
	display: none;
}

.searcWarp {
	display: flex;
	font-weight: 100;
}

.searcWarp input {
	flex: 1;
	height: 40px;
	-webkit-appearance: none;
	text-align: center;
	display: block;
	padding: 0;
	margin: 0;
	line-height: 40px;
	font-family: "microsoft yahei";
	color: #CCC;
	border: none;
	border-radius: 0;
	font-size: 14px;
	font-weight: 100;
}

.searcWarp input:checked {
	color: rgba(0, 160, 20, 1);
}

.searcWarp input:nth-child(1):before {
	content: '全部';
}

.searcWarp input:nth-child(2):before {
	content: '未完成';
}

.searcWarp input:nth-child(3):before {
	content: '完成';
}

.searcWarp input:nth-child(4):before {
	content: '清除';
}