<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>todo mvc</title>
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<div class="warpper" id="app" v-cloak>
			<h1 class="title">todos</h1>
			<!--编辑区域-->
			<div class="editWarp">
				<div class="inputWarp">
					<input type="text" v-model="todeMess" placeholder="What needs to be done?" @keyup.enter="addTodo" />
					<button @click="addTodo">ADD</button>
				</div>

				<ul class="list" v-cloak>
					<li class="item" v-for="item in list | query">
						<span class="chekbox" :class="item.status? 'checked':''" @click="check(item)"></span>
						<span class="tomess" :class="item.status? 'remove':''">{{item.mess}}</span >
						<span class="close" @click="remove(item)">×</span>
					</li>
				</ul>
				<div class="searcWarp" v-if="list.length">
					<input type="radio" value="all" name="search" v-model="search" />
					<input type="radio" value="no" name="search" v-model="search" />
					<input type="radio" value="yes" name="search" v-model="search" />
					<input type="radio" name="search" @click="clear" />
				</div>
			</div>
			<!--编辑区域 end-->

		</div>
		<script src="js/vue.js"></script>
		<script src="js/index.js"></script>
	</body>

</html>